@model IEnumerable<Lecturer_Monthly_Claims__ST10092086.Claim>


 
<h2>Submitted Claims</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Amount</th>
            <th>Notes</th>
            <th>Attachment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.ClaimDate.ToShortDateString()</td>
                <td>@claim.HoursWorked</td>
                <td>@claim.HourlyRate</td>
                <td>@claim.Amount</td>
                <td>@claim.Notes</td>
                <td>
                    @if (claim.FileAttachment != null)
                    {
                        <a href="@Url.Action("DownloadAttachment", "Claims", new { id = claim.Id })">Download</a>
                    }
                    else
                    {
                        <span style="color:#888;">No File</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
